*{
    margin: 0;
    width: 100%;
}

body{
    position: relative;
    min-height: 100vh;
}

main{
    padding-bottom: 20vh;
}

/*----------------------------------- Configuracion header ------------------------------------*/


.whatsapp{
    height: 6vh;
    width: 5vw;
    background-color: #25D366;
    position: fixed;
    right: -30px;
    top: 80vh;
    display: flex;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.fa-whatsapp{
    width: 3vw;
    font-size: 1.5rem;
    color: white;
    padding-left: 0.7vw;
}

@keyframes whatsappMove {
    0%{ 
        right: -30px
    }
    100%{
        right: -20px;
        transform: scale(1.2);
    }
}

.whatsapp:hover{
    animation: whatsappMove 1s forwards;
}


.container{
    border-bottom: 1px solid rgb(75, 70, 70);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 4vh);
    grid-template-areas: 
    "lateral1 lateral1 medioSup medioSup medioSup medioSup lateral2 lateral2 lateral2"
    "lateral1 lateral1 medioSup medioSup medioSup medioSup lateral2 lateral2 lateral2"
    "lateral1 lateral1 medioSup medioSup medioSup medioSup lateral2 lateral2 lateral2"
}

.item-b{
    grid-area: lateral1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.item-c{
    grid-area: medioSup;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.item-d{
    grid-area: lateral2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.burger-menu{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.burger-menu i{
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 5vw;
}

.logo{
    display: none;
}

.logo img{
    height: 12vh;
    width: auto;
}

.logo-mobile{
    height: 12vh;
    width: auto;    
}

.logo-mobile img{
    height: 100%;
}

.no-logo{
    display: flex;
    flex-direction: column;
}

.menu-option{
    text-align: center;
    height: 100%;
}

.small-menu{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.small-menu i{
    text-align: center;
    font-size: 1rem;
}

.small-menu a{
    color: rgb(75, 70, 70);
    display: flex;
    justify-content: center;
}

.menu-li{
    line-height: 12vh;
    color: rgb(75, 70, 70);
}

.ingreso{
    display: none;
}

.search{
    display: none;
}

.search input{
    border: none;
    line-height: 0.5rem;
    padding: 0;
}

.search:hover>.search-input{
    border-bottom: solid 1px rgb(75, 70, 70);
}

.search-input:focus{
    outline: none;
    border-bottom: solid 1px rgb(75, 70, 70);
}

.search button{
    width: 3vw;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search i{
    width: 2vw;
    font-size: 1rem;
    color:rgb(75, 70, 70)
}

.big-big-menu{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.big-menu{
    display: flex;
}

.menu{
    display: flex;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 60vw;
    list-style-type: none;
}

.menu li{
    text-align: center;
    margin: auto;
}

.menu-li:hover{
    text-shadow: -1px 1px 2px gray;
}

.menu li a{    
    text-decoration: none;
}

.header-profile{
    width: 90%;
}

.menu_option{
    box-sizing: border-box;
}

.info{
    display: flex;
    justify-content: space-around;
    border-top: 1px rgb(151, 151, 151) solid;
    border-bottom: 1px rgb(151, 151, 151) solid;
    padding: 10vh 0;
    width: 90%;
    margin: 0 auto;
}
.info div{
    margin-top: auto;
    margin-bottom: auto;
}

.info-link{
    text-decoration: none;
}

.info-link div{
    text-align: center;
}

.title-desc{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(151, 151, 151);
}

.title{
    font-size: 1.4rem;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(75, 70, 70);
    font-weight: 600;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(151, 151, 151);
}

.cards i{
    width: 2vw;
    font-size: 1.2rem;
}

.drop-down{
    position: absolute;
    display: none;
    z-index: 5;
    font-size: 1.2rem;
    background-color: white;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.drop-down-ul{
    padding-left: 38vw;
    width: 10vw;
}

.drop-down-li{
    list-style-type: none;
    color: rgb(75, 70, 70);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-left: 2vw;
    line-height: 3rem;
}

.drop-down-li:hover{
    text-shadow: -1px 1px 2px gray;
}


/*---------------- Configuracion footer ----------------------- */

.footer{
    background-color: #FF8C90;
    margin-top: 20px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}

.suscribeme{
    padding-top: 2vh;
    margin: 0 auto 2vh auto;
    width: 60vw;
    display: flex;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.suscribe-div{
    text-align: center;
    width: 80%;
}

.suscribe-input{
    width: 75%;
    border: 1px solid black;
    margin-right: 2vw;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding-left: 1vw;
}

.suscribe-button{
    width: 45%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}

.suscribe-main-text{
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-info{
    width: 60vw;
    display: flex;
    margin: 1vh auto 0 auto;
    padding-bottom: 2vh;
    text-align: center;
}

.footer-ul{
    list-style-type: none;
    padding: 0;
}

.footer-ul li{
    margin: 0;
}

.footer-top{
    font-weight: 600;
}

.li-with-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-instagram, .fa-facebook-f{
    width: 2vw;
}

.direccion{
    text-align: center;
    padding: 10px 0 5px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.horario{
    text-align: center;
    padding: 5px 0 10px 0;
    font-family: 'Lato', sans-serif;
}


/*---------------- Configuracion login ----------------------- */

.contenedor_register{
    height: 444px;
}

.sessioninit{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.main_login{
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
    margin: 1vh auto;
    width: 30%;
}
.login{
    width: 95%;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pass{
    margin-top: 2vh;
    text-align: left;
}

.user{
    text-align: left;
}

.fill_text{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none
}

.fillin{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    text-align: center;
    justify-content: center;
}

.fillin input{
    width: 8%;
    text-align: right;
}

.remember-me{
    width: 45%;
}

.buttons{
    display: flex;
    margin: 2vh auto 4vh auto;
}

.button1{
    margin-right: 1vw;
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.button2{
    margin-left: 1vw;
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.line{
    display: flex;
}

.o{
    text-align: center;
}

.google{
    width: 70%;
    text-align: center;
    margin: 3vh auto;
}

.log_in_google{
    line-height: 3.5vh;
    background-color: white;
    border: black 1px solid;
}

.registrate{
    text-align: center;
    width: 70%;
    margin: 4vh auto 4vh auto;
}

.button3{
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.button3{
    text-decoration: none;
    color: black;
}

/*---------------- Configuracion register ----------------------- */
.register-title{
    text-align: center;
    margin: 4vh 0;
}

.register{
    width: 30%;
    margin: 2vh auto 5vh auto;
    padding: 0 3%;
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
}

.register div{
    margin-top: 2vh;
}
.register div input{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.name{
    width: 48%;
    margin-right: 1vw;
}

.last_name{
    width: 48%;
    margin-left: 1vw;
}

.name_last{
    display: flex;
}

.terminos{
    margin-top: 2vh;
    text-align: justify;
}

.condiciones{
    text-decoration: none;
    color: rgb(9, 9, 78);
    font-weight: bold;
}

.privacidad{
    text-decoration: none;
    color: rgb(9, 9, 78);
    font-weight: bold;
}
.robot{
    display: flex;
    margin-top: 3vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.robot input{
    width: 8%;
    text-align: right;
}

.robot label{
    width: 33%;
    margin-right: 10%;
}

.errores{
    color: rgb(241, 105, 105);
    font-size: 14px;
    font-weight:lighter;
    margin-top: 1vh;
}

/*---------------- Configuracion product ----------------------- */

.principal{
    width: 90%;
    margin: 5vh 2vw;
}

.product_description{
    display: flex;
}

.description{
    display: flex;
    margin: 5vh 0;
}

.product_name{
    width: 90%;
    margin-top: 3vh;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.icons{
    display: flex;
    width: 10%;
    margin-top: 3vh;
}

.price{
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

.description_product{
    margin-top: 16vh;
    color: rgb(107, 104, 104);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.colores{
    margin-top: 10vh;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.square_colors{
    display: flex;
    margin: 2vh 0 0 2vw;
}
.black_square {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
    margin-right: 1vw;
}

.gray_square {
    height: 25px;
    width: 25px;
    background-color: gray;
    border: 1px solid black;
    margin-right: 1vw;
}

.pink_square {
    height: 25px;
    width: 25px;
    background-color: pink;
    border: 1px solid black;
    margin-right: 1vw;
}

.red_square {
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid black;
    margin-right: 1vw;
}

.white_square {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
}

.customize{
    margin-top: 8vh;
}

.talle{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.talle_product{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.talle{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.cantidad_product{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    font-family: 'Lato', sans-serif;
}

.cantidad{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.agregar_carrito{
    line-height: 6vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #EB5459;
    margin-top: 15vh;
    color: white;
    width: 50%;
    font-family: 'Lato', sans-serif;
}

.form_delete{
    display: flex;
    align-items: center;
    justify-content: start;
    }

.delete{
    background-color: white;
    border: none;
    text-align: left;
    margin: auto;
    font-size: 30px;
    color: red;
}

/*---------------- Configuracion New Product ----------------------- */

.bodyNewProduct{
    min-height: 100vh;
    position: relative;
}

.new_product_title{
    text-align: center;
    margin: 5vh 0;
}

.new_product{
    width: 30%;
    margin: 1vh auto;
    padding: 15px;
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
}

.item{
    margin-top: 2vh;
}

.input{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.talle_jean{
    margin-top: 1vh;
    line-height: 3.5vh;
    width: 5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.button_np{
    text-align: center;
}

.button_new_product{
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
    width: 50%;
    margin: 5vh auto 2vh auto;
}

.choose_file{
    margin-top: 1vh;
}

.tipo_de_producto{
    margin-top: 2vh;
}

.unidad{
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.unidad input{
    width: 15px;
    margin-left: 1vw;
}

.unidad label{
    margin-left: 1vw;
}

.newIn{
    display: flex;
}

.newIn input{
    width: 10%;
}



/*---------------- Configuracion Profile ----------------------- */

.saludo{
    margin-top: 2vh;
    margin-left: 4vw;
}

.avatar{
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin-top: 2vh;
    margin-left: 5vw;
}

.avatar-header{
    width: 5vw;
    border-radius: 50%;
}


/*---------------- Configuracion Home ----------------------- */

.categories{
    border-top: 1px solid rgb(151, 151, 151);
}

.most-sold{
    border-top:rgb(151, 151, 151) solid 1px;
}

.categ_products{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}

.categoria-titulo{
    margin: 4vh auto;
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.product_div{
    width: 18vw;
    margin: auto;
}

.product_div:hover>

.product_link{
    width: 18vw;
    height: 50vh;
    text-decoration: none;
    color: rgb(75, 70, 70)
}

.info_div:hover> .title{
    color: black;
}

a{
    text-decoration: none;
}

.product_card{
    width: 18vw;
    height: 40vh;
    overflow: hidden;
    margin: 2vh auto 0 auto;
    display: flex;
    justify-content: center;
}

.product_card img{
    height: 40vh;
    width: auto;
    transition: transform 1s ease-in-out;
}

.product_card_name{
    margin: 0;
    text-align: center;
    line-height: 5vh;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(75, 70, 70);
}

.product_link:hover> div img{
    overflow: hidden;
    transform: scale(1.1);
}

.front_img{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.front_img_div{
    box-sizing: border-box;
    width: 43vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_img a{
    box-sizing: border-box;
    width: 43vw;
    margin: 5vh;
}

.news{
    text-align: center;
    line-height: 6vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.text_news{
    position: absolute;
    width: 40%;
}


.news_link:hover > .front_img_div{
    box-shadow:  0 0 5px 5px rgb(148, 148, 148);
}

.news_link:hover > .front_img_div .text_news .news{
    color: rgb(235, 144, 144);
}

.news_title{
    border-radius: 5px 5px 0 0;
}

.news_info{
    border-radius: 0 0 5px 5px;
}


/*--------------------------------- Configuracion vista productos general ----------------------------------*/


.productList{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4vh 2vw;
}

.productLink{
    box-sizing: border-box;
    width: 20%;
    margin: 2vw;
    padding: 1%;
    text-decoration: none;
    color: black;
}

.productItemText{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2%;
}

.productItemText h3{
    width: 85%;
    margin: auto;
}

.productItemText p{
    width: 85%;
    margin: auto;
}

.productItem:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.308);
}

.productItem h3{
    text-align: center;
}

.imageContainer{
    position: relative;
}

.nuevoIngreso{
    width: 35%;
    position: absolute;
    top: 10%;
    right: 0%;
    font-size: 10px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2% 0;
}



/*--------------------------------------- Media Queries-----------------------------------------------*/


/* Mobile */

@media(max-width: 360px){
    .big-big-menu{
        display: none;
    }
}


/* Tablet */

@media(min-width: 361px) and (max-width: 768px){
    .big-big-menu{
        display: none;
    }
    .small-menu i{
        width: 10%;
    }
    .fa-user{
        padding-right: 2vw;
        margin-right: 0;
    }
    .burger-menu i{
        padding-left: 2vw;
    }
}


/* Computer */

@media(min-width: 769px){
    .logo{
        display: block;
        height: 12vh;
        width: 25vw;
        margin-left: 7%;
    }
    .search{
        display: flex;
    }
    .small-menu{
        display: none;
    }
    .burger-menu{
        display: none;
    }
    .ingreso{
        width: 100%;
        box-sizing: border-box;
        padding: 0 2vw 0 5vw;
        display: flex;
        justify-content: flex-end;
    }
    .ingreso i{
        box-sizing: border-box;
        text-align: center;
        line-height: 23px;
        width: 3vw;
        font-size: 1rem;
        margin: 0.5vw;
        text-align: center;
    }
    .ingreso a{
        text-decoration: none;
        color: rgb(75, 70, 70);
        width: 3vw;
        display: flex;
        justify-content: center;
    }
    .fa-user{
        margin-right: 5vw;
    }
}