*{
    margin: 0;
    width: 100%;
}

body{
    position: relative;
    min-height: 100vh;
}

main{
    padding-bottom: 20vh;
}

/*----------------------------------- Configuracion header ------------------------------------*/
header{
    display: flex;
    border-bottom: 2px solid grey;
}

.logo{
    height: 14vh;
    width: 25%;
    margin-left: 7%;
}

.logo img{
    height: 100%;
    width: auto;
}

.no-logo{
    display: flex;
    flex-direction: column;
}

.busqueda{
    margin-top: 2vh;
    position: relative;
    left: 8%;
    width: 85%;
}

.busqueda input{
    position: relative;
    border-radius: 15px 0 0 15px;
    border: none;
    background-color: #FFCFCF;
    line-height: 4vh;
    width: 50%;
}

.busqueda button{
    position: relative;
    right: 10px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #FFCFCF;
    line-height: 4vh;
    width: 5%;
}
.big-big-menu{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.big-menu{
    display: flex;
    margin-top: 2vh;
}

.menu{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.menu li{
    display: flex;
    align-items: center;
    margin: 0 8vw 0 0;
}

.menu li a{    
    text-decoration: none;
    color: black;
}

.header-profile{
    width: 90%;
}

.ingreso{
    box-sizing: border-box;
    padding: 0;
    padding-right: 2vw;
}

.ingreso li{
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    font-size: 12px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 23px;
}

.ingreso i{
    width: 15px;
    font-size: 10px;
}

.ingreso li a{
    text-decoration: none;
    color: rgb(139, 134, 134);
}

.menu_option{
    box-sizing: border-box;
}



/*---------------- Configuracion footer ----------------------- */

.footer{
    background-color: #FF8C90;
    margin-top: 20px;

}

.direccion{
    text-align: center;
    padding: 10px 0 5px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.horario{
    text-align: center;
    padding: 5px 0 10px 0;
    font-family: 'Lato', sans-serif;
}


/*---------------- Configuracion login ----------------------- */

.contenedor_register{
    height: 444px;
}

.sessioninit{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.main_login{
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
    margin: 1vh auto;
    width: 30%;
}
.login{
    width: 95%;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pass{
    margin-top: 2vh;
    text-align: left;
}

.user{
    text-align: left;
}

.fill_text{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none
}

.fillin{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    text-align: center;
    justify-content: center;
}

.fillin input{
    width: 8%;
    text-align: right;
}

.remember-me{
    width: 45%;
}

.buttons{
    display: flex;
    margin: 2vh auto 4vh auto;
}

.button1{
    margin-right: 1vw;
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.button2{
    margin-left: 1vw;
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.line{
    display: flex;
}

.o{
    text-align: center;
}

.google{
    width: 70%;
    text-align: center;
    margin: 3vh auto;
}

.log_in_google{
    line-height: 3.5vh;
    background-color: white;
    border: black 1px solid;
}

.registrate{
    text-align: center;
    width: 70%;
    margin: 4vh auto 4vh auto;
}

.button3{
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
}

.button3{
    text-decoration: none;
    color: black;
}

/*---------------- Configuracion register ----------------------- */
.register-title{
    text-align: center;
    margin: 4vh 0;
}

.register{
    width: 30%;
    margin: 2vh auto 5vh auto;
    padding: 0 3%;
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
}

.register div{
    margin-top: 2vh;
}
.register div input{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.name{
    width: 48%;
    margin-right: 1vw;
}

.last_name{
    width: 48%;
    margin-left: 1vw;
}

.name_last{
    display: flex;
}

.terminos{
    margin-top: 2vh;
    text-align: justify;
}

.condiciones{
    text-decoration: none;
    color: rgb(9, 9, 78);
    font-weight: bold;
}

.privacidad{
    text-decoration: none;
    color: rgb(9, 9, 78);
    font-weight: bold;
}
.robot{
    display: flex;
    margin-top: 3vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.robot input{
    width: 8%;
    text-align: right;
}

.robot label{
    width: 33%;
    margin-right: 10%;
}

.errores{
    color: rgb(241, 105, 105);
    font-size: 14px;
    font-weight:lighter;
    margin-top: 1vh;
}

/*---------------- Configuracion product ----------------------- */

.principal{
    width: 90%;
    margin: 5vh 2vw;
}

.product_description{
    display: flex;
}

.description{
    display: flex;
    margin: 5vh 0;
}

.product_name{
    width: 90%;
    margin-top: 3vh;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.icons{
    display: flex;
    width: 10%;
    margin-top: 3vh;
}

.price{
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

.description_product{
    margin-top: 16vh;
    color: rgb(107, 104, 104);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.colores{
    margin-top: 10vh;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.square_colors{
    display: flex;
    margin: 2vh 0 0 2vw;
}
.black_square {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
    margin-right: 1vw;
}

.gray_square {
    height: 25px;
    width: 25px;
    background-color: gray;
    border: 1px solid black;
    margin-right: 1vw;
}

.pink_square {
    height: 25px;
    width: 25px;
    background-color: pink;
    border: 1px solid black;
    margin-right: 1vw;
}

.red_square {
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid black;
    margin-right: 1vw;
}

.white_square {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
}

.customize{
    margin-top: 8vh;
}

.talle{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.talle_product{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.talle{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.cantidad_product{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    font-family: 'Lato', sans-serif;
}

.cantidad{
    margin-top: 2vh;
    border: none;
    border-bottom: solid 1px black;
    width: 50%;
}

.agregar_carrito{
    line-height: 6vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #EB5459;
    margin-top: 15vh;
    color: white;
    width: 50%;
    font-family: 'Lato', sans-serif;
}

.form_delete{
    display: flex;
    align-items: center;
    justify-content: start;
    }

.delete{
    background-color: white;
    border: none;
    text-align: left;
    margin: auto;
    font-size: 30px;
    color: red;
}

/*---------------- Configuracion New Product ----------------------- */

.bodyNewProduct{
    min-height: 100vh;
    position: relative;
}

.new_product_title{
    text-align: center;
    margin: 5vh 0;
}

.new_product{
    width: 30%;
    margin: 1vh auto;
    padding: 15px;
    border: rgb(196, 184, 184) 1px solid;
    border-radius: 5px;
}

.item{
    margin-top: 2vh;
}

.input{
    line-height: 3.5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.talle_jean{
    margin-top: 1vh;
    line-height: 3.5vh;
    width: 5vh;
    background-color: #FFCFCF;
    border-radius: 5px;
    border: none;
}

.button_np{
    text-align: center;
}

.button_new_product{
    line-height: 3.5vh;
    border-radius: 5px;
    border: #cf9393 1px solid;
    background-color: #FFCFCF;
    width: 50%;
    margin: 5vh auto 2vh auto;
}

.choose_file{
    margin-top: 1vh;
}

.tipo_de_producto{
    margin-top: 2vh;
}

.unidad{
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.unidad input{
    width: 15px;
    margin-left: 1vw;
}

.unidad label{
    margin-left: 1vw;
}

.newIn{
    display: flex;
}

.newIn input{
    width: 10%;
}



/*---------------- Configuracion Profile ----------------------- */

.saludo{
    margin-top: 2vh;
    margin-left: 4vw;
}

.avatar{
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    margin-top: 2vh;
    margin-left: 5vw;
}

.avatar-header{
    max-width: 10%;
}


.form-header{
    max-width: 10%;
}

/*.header-profile{
    display: flex;
    flex-direction: column;
}*/

/*---------------- Configuracion Home ----------------------- */

.categ_products{
    display: flex;
    justify-content: center;
}

.categoria-titulo{
    margin: 4vh auto;
    text-align: center;
}

.product_card a{
    width: 18vw;
    height: 40vh;
}

.product_card{
    width: 18vw;
    height: 40vh;
    margin: 2vh auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(184, 154, 154);
    border-radius: 5px;
}

.jean{
    background: url("../img/jeans.jpg");
    background-size: cover;
    background-position: center;
}

.tshirt{
    background: url("../img/remeras.jpg");
    background-size: cover;
    background-position: center;

}

.sweater{
    background: url("../img/sweaters.jpg");
    background-size: cover;
    background-position: center;
}

.short{
    background: url("../img/shorts.jpg");
    background-size: cover;
    background-position: center;
}

.product_card_name{
    display: none;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 60%;
    line-height: 5vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: white;
}

.product_card:hover > .product_card_name{
    display: block;
}

.front_img{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.front_img_div{
    box-sizing: border-box;
    width: 43vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_img a{
    box-sizing: border-box;
    width: 43vw;
    margin: 5vh;
}

.news{
    text-align: center;
    line-height: 6vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.text_news{
    position: absolute;
    width: 40%;
}


.news_link:hover > .front_img_div{
    box-shadow:  0 0 5px 5px rgb(148, 148, 148);
}

.news_link:hover > .front_img_div .text_news .news{
    color: rgb(235, 144, 144);
}

.news_title{
    border-radius: 5px 5px 0 0;
}

.news_info{
    border-radius: 0 0 5px 5px;
}


/*--------------------------------- Configuracion vista productos general ----------------------------------*/


.productList{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4vh 2vw;
}

.productItem{
    box-sizing: border-box;
    width: 20%;
    margin: 2vw;
    padding: 1%;

}

.productItemText{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2%;
}

.productItemText h3{
    width: 85%;
    margin: auto;
}

.productItemText p{
    width: 85%;
    margin: auto;
}

.productItem:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.308);
}

.productItem h3{
    text-align: center;
}

.imageContainer{
    position: relative;
}

.nuevoIngreso{
    width: 35%;
    position: absolute;
    top: 10%;
    right: 0%;
    font-size: 10px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 2% 0;
}