<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>

<body>
<%- include("./partials/header")%>
    <div class="whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div class="front_img">
        <a href="" class="news_link">
            <div class="front_img_div">
                <img src="img/sweaters_front.jpg" alt="">
                <div class="text_news">
                    <p class="news news_title">OFERTAS ÚNICAS</p>
                    <p class="news news_info">Liquidacion Invierno</p>
                </div>    
            </div>
        </a>
        <a href="" class="news_link">
            <div class="front_img_div">
                <img src="img/pants.jpg" alt="">
                <div class="text_news">
                    <p class="news">Temporada 21/22</p>
                </div>
            </div>
        </a>
    </div>
    <main>
        <div class="categories">
            <h1 class="categoria-titulo">CATEGORÍAS</h1>
            <div class="categ_products">
                <a href="./products/trousers" class="product_link">
                    <div class="product_div">
                        <div class="product_card jean">
                            <img src="../../img/jeans.jpg" alt="">
                        </div>
                        <p class="product_card_name">Jeans</p>
                    </div>
                </a>
                <a href="./products/tshirt" class="product_link">
                    <div class="product_div">
                        <div class="product_card tshirt">
                            <img src="../../img/remeras.jpg" alt="">
                        </div>
                        <p class="product_card_name">Remeras</p>
                    </div>
                </a>
                <a href="./products/sweater" class="product_link">
                    <div class="product_div">
                        <div class="product_card sweater">
                            <img src="../../img/sweaters.jpg" alt="">
                        </div>
                        <p class="product_card_name">Sweaters</p>
                    </div>
                </a>
                <a href="./products/trousers" class="product_link">
                    <div class="product_div">
                        <div class="product_card short">
                            <img src="../../img/shorts.jpg" alt="">
                        </div>
                        <p class="product_card_name">Shorts</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="most-sold">
            <h1 class="categoria-titulo">LOS MAS VENDIDOS</h1>
            <div class="categ_products">
                <a href="./products/trousers" class="product_link">
                    <div class="product_div">
                        <div class="product_card jean">
                            <img src="../../img/jeans.jpg" alt="">
                        </div>
                        <p class="product_card_name">Jeans</p>
                    </div>
                </a>
                <a href="./products/tshirt" class="product_link">
                    <div class="product_div">
                        <div class="product_card tshirt">
                            <img src="../../img/remeras.jpg" alt="">
                        </div>
                        <p class="product_card_name">Remeras</p>
                    </div>
                </a>
                <a href="./products/sweater" class="product_link">
                    <div class="product_div">
                        <div class="product_card sweater">
                            <img src="../../img/sweaters.jpg" alt="">
                        </div>
                        <p class="product_card_name">Sweaters</p>
                    </div>
                </a>
                <a href="./products/trousers" class="product_link">
                    <div class="product_div">
                        <div class="product_card short">
                            <img src="../../img/shorts.jpg" alt="">
                        </div>
                        <p class="product_card_name">Shorts</p>
                    </div>
                </a>
            </div> 
        </div>
        <div class="info">
            <a href="" class="info-link">
                <div class="info_div">
                    <p class="title">PROMOCIONES</p>
                    <p class="title-desc">Segun medios de pago</p>
                </div>
            </a>
            <a href="" class="info-link">
                <div class="info_div">
                    <p class="title">ENVÍOS</p>
                    <p class="title-desc">A todo el pais</p>
                </div>
            </a>
            <a href="" class="info-link">
                <div class="info_div">
                    <p class="title">CAMBIOS Y <br> DEVOLUCIONES</p>
                </div>
            </a>
            <a href="" class="info-link">
                <div class="info_div">
                    <p class="title">MEDIOS DE PAGO</p>
                    <div class="cards">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </a>
        </div>
    </main>

    <%- include("./partials/footer")%>

</body>
</html>