<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")%>

<%- include("../partials/header")%>
<body>
    <h2 class="new_product_title">Creacion de productos</h2>
    <form action="/products/new" class="new_product" method="POST" enctype="multipart/form-data">
        <div class="item">
            <label for="file"><h4>Seleccione la imagen del producto</h4></label>
            <input type="file"  class="choose_file" id="file" name="file" accept=".jgp, .png">
        </div>
        <div class="tipo_de_producto">
            <h4>Elija el tipo de producto</h4>
            <div class="unidad">
                <input type="radio" id="sweater" name="producto" value="Sweater">
                <label for="sweater">Sweater</label>
            </div>
            <div class="unidad">    
                <input type="radio" id="jean" name="producto" value="Jean">
                <label for="jean">Jean</label>
            </div>    
            <div class="unidad">
                <input type="radio" id="remera" name="producto" value="Remera">
                <label for="remera">Remera</label>
            </div>
        </div>
        <div class="item">
            <label for="name_product">Nombre del producto</label>
            <input type="text" class="input" id="name_product" name="name_product" required>
        </div>
        <div class="item">
            <label for="price_product">Precio</label>
            <input type="text" class="input" id="price_product" name="price_product" required>
        </div>
        <div class="item">
            <label for="descript_product">Descripcion producto</label>
            <input type="text" class="input" id="descript_product" name="descript_product" required>
        </div>
        <div class="item">
            <label>Cantidades por talle:</label><br>
            <label for="36">36</label>
            <input type="number" class="talle_jean" name="talle_jean_36" id="36">
            <label for="38">38</label>
            <input type="number" class="talle_jean" name="talle_jean_38" id="38">
            <label for="40">40</label>
            <input type="number" class="talle_jean" name="talle_jean_40" id="40">
            <label for="42">42</label>
            <input type="number" class="talle_jean" name="talle_jean_42" id="42">
            <label for="44">44</label>
            <input type="number" class="talle_jean" name="talle_jean_44" id="44">
            <label for="46">46</label>
            <input type="number" class="talle_jean" name="talle_jean_46" id="46">
        </div>
        <div class="button_np">
            <button type="submit" class="button_new_product">Agregar el producto</button>
        </div>
    </form>

<%- include("../partials/footer")%>

</body>
</html>