<footer class="footer">
    <form action="" class="suscribeme"> 
        <div class="suscribe-div">
            <p class="suscribe-main-text">OBTENÉ UN 10% OFF</p>
            <p>Suscribiendote a nuestro newsletter</p>
        </div>
        <input class="suscribe-input" type="text" placeholder="Ingresa tu email">
        <input class="suscribe-button" type="submit" value="SUSCRIBIRME" >
    </form>
    <div class="footer-info">
        <div>
            <p class="footer-top">Contactanos</p>
            <ul class="footer-ul primer-footer-ul">
                <li>¿Donde estamos?</li>
                <li>Contacto</li>
            </ul>
        </div>
        <div>
            <p class="footer-top">Ayuda</p>
            <ul class="footer-ul">
                <li>Envios</li>
                <li>Formas de pago</li>
                <li>Cambios y devoluciones</li>
                <li>Costos de envio</li>
            </ul>
        </div>
        <div>
            <p class="footer-top">Legales</p>
            <ul class="footer-ul">
                <li>Politica de privacidad</li>
                <li>Terminos y condiciones</li>
                <li>Promociones</li>
            </ul>
        </div>
        <div>
            <p class="footer-top">Siguenos!</p>
            <ul class="footer-ul">
                <li class="li-with-logo"><i class="fa-brands fa-instagram"></i> Instagram</li>
                <li class="li-with-logo"><i class="fa-brands fa-facebook-f"></i> Facebook</li>
            </ul>
        </div>
    </div>


    <!-- <p class="direccion">ALEM 161, GALERÍA UNION (LOCAL 44) MONTE GRANDE</p>
    <p class="horario">Lunes a Sábados 10 a 19 Hs</p> -->
</footer> 