<header>
    
    <div class="logo">
        <img src="/img/Logo-Luna.png" alt="">
    </div>
    
    <div class="no-logo">
        <form class="busqueda" action="/search" method="GET">
            <input type="text" name="busqueda" >
            <button value="submit"><i class="fas fa-search"></i></button>
        </form>

        <div class="big-big-menu">
            <nav class="big-menu">
                <ul class="menu">
                    <li><a href="../">INICIO</a></li>
                    <li><a href="../products">PRODUCTOS</a></li>
                    <li><a href="../products/new_in">NOVEDADES</a></li>
                    <li><a href="../contact_us">CONTACTO</a></li>
                </ul>
                <ul class="ingreso">
                    <li> <a href="../user/login"><i class="fas fa-user"></i> Ingresar</a> </li>
                </ul>
            </nav>
        </div>
    </div>  
</header>